In [1]:
import os
import pandas as pd
from sklearn import ensemble
from sklearn import model_selection

In [9]:
os.getcwd()

'C:\\Users\\madha'

In [10]:
os.chdir("C:\\Users\\madha")

In [11]:
titanic_train = pd.read_csv("train.csv")

In [12]:
titanic_train.shape
titanic_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [13]:
titanic_train1 = pd.get_dummies(titanic_train, columns=['Pclass', 'Sex', 'Embarked'])
titanic_train1.shape
titanic_train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Name         891 non-null    object
 3   Age          714 non-null    float64
 4   SibSp        891 non-null    int64
 5   Parch        891 non-null    int64
 6   Ticket       891 non-null    object
 7   Fare         891 non-null    float64
 8   Cabin        204 non-null    object
 9   Pclass_1     891 non-null    uint8
 10  Pclass_2     891 non-null    uint8
 11  Pclass_3     891 non-null    uint8
 12  Sex_female   891 non-null    uint8
 13  Sex_male     891 non-null    uint8
 14  Embarked_C   891 non-null    uint8
 15  Embarked_Q   891 non-null    uint8
 16  Embarked_S   891 non-null    uint8
dtypes: float64(2), int64(4), object(3), uint8(8)
memory usage: 69.7+ KB

In [14]:
X_train = titanic_train1.drop(['PassengerId','Age','Cabin','Ticket', 'Name','Survived'], 1)
y_train = titanic_train['Survived']

C:\Users\madha\AppData\Local\Temp\ipykernel_18060\1061270925.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X_train = titanic_train1.drop(['PassengerId','Age','Cabin','Ticket', 'Name','Survived'], 1)

In [15]:
rf_estimator = ensemble.RandomForestClassifier(random_state=2017)

In [16]:
rf_grid = {'n_estimators':list(range(200,251,50)),'max_features':[3,6,9],'criterion':['entropy','gini']}
rf_grid_estimator = model_selection.GridSearchCV(rf_estimator,rf_grid, cv=10, n_jobs=10)
rf_grid_estimator.fit(X_train, y_train)

GridSearchCV(cv=10, estimator=RandomForestClassifier(random_state=2017),
             n_jobs=10,
             param_grid={'criterion': ['entropy', 'gini'],
                         'max_features': [3, 6, 9],
                         'n_estimators': [200, 250]})

In [17]:
rf_grid_estimator.best_estimator_
rf_grid_estimator.best_score_

0.8103495630461923

In [18]:
rf_grid_estimator.score(X_train, y_train)

0.9248035914702581

In [20]:
titanic_test = pd.read_csv("test.csv")
titanic_test.shape
titanic_test.Fare[titanic_test['Fare'].isnull()] = titanic_test['Fare'].mean()

C:\Users\madha\AppData\Local\Temp\ipykernel_18060\2694118000.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titanic_test.Fare[titanic_test['Fare'].isnull()] = titanic_test['Fare'].mean()

In [21]:
titanic_test1 = pd.get_dummies(titanic_test, columns=['Pclass', 'Sex', 'Embarked'])
titanic_test1.shape
titanic_test1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Name         418 non-null    object
 2   Age          332 non-null    float64
 3   SibSp        418 non-null    int64
 4   Parch        418 non-null    int64
 5   Ticket       418 non-null    object
 6   Fare         418 non-null    float64
 7   Cabin        91 non-null     object
 8   Pclass_1     418 non-null    uint8
 9   Pclass_2     418 non-null    uint8
 10  Pclass_3     418 non-null    uint8
 11  Sex_female   418 non-null    uint8
 12  Sex_male     418 non-null    uint8
 13  Embarked_C   418 non-null    uint8
 14  Embarked_Q   418 non-null    uint8
 15  Embarked_S   418 non-null    uint8
dtypes: float64(2), int64(3), object(3), uint8(8)
memory usage: 29.5+ KB

In [22]:
X_test = titanic_test1.drop(['PassengerId','Age','Cabin','Ticket', 'Name'], 1)
titanic_test['Survived'] = rf_grid_estimator.predict(X_test)
titanic_test.to_csv("submission_rf.csv", columns=['PassengerId','Survived'], index=False)

C:\Users\madha\AppData\Local\Temp\ipykernel_18060\2587287176.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X_test = titanic_test1.drop(['PassengerId','Age','Cabin','Ticket', 'Name'], 1)